// colors
$color-main: #373737;
$color-background: #f0f0f0;
$color-header: #4d0026;
$color-white: #ffffff;
$color-underscore: lightgray;
$color-link: #0366d6;

// metrics
$line-height-def: 10px;
$line-height-base: 2.4rem;
$font-size-def: 10px;
$font-size-header: 3.6rem;
$font-size-subheader: 2.4rem;
$font-size-textinfo: 1.6rem;